<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncu.huaxin.attendancemanagement.mapper.ApplyTypeMapper">
    <!--    public Employee getEmpById(Integer id);

     public void insertEmp(Employee employee);-->
    <select id="getAll" resultType="ApplyType" >
        select * from apply_type
    </select>

<!--    <select id="selectByClassId" parameterType="LogInOut" resultType="java.util.List">-->
<!--        select * from inout_log where classId=#{classId}-->
<!--    </select>-->

<!--    <select id="selectAll" parameterType="LogInOut" resultType="java.util.List">-->
<!--        select * from inout_log-->
<!--    </select>-->

<!--    <insert id="insertEmp">-->
<!--        INSERT INTO employee(username,email,gender,d_id) VALUES (#{lastName},#{email},#{gender},#{dId})-->
<!--    </insert>-->
</mapper>