<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ncu.huaxin.attendancemanagement.mapper.HolidayLogMapper">
    <!--    public Employee getEmpById(Integer id);

     public void insertEmp(Employee employee);-->
    <insert id="addHolidayLog" >
        insert into holiday_log(userId,classId,departId,holidayType,holidayState,applyId) values(#{holidayLog.employee.userId},
                #{holidayLog.employee.classId},#{holidayLog.employee.departId},#{holidayLog.holidayType},
                #{holidayLog.holidayState},#{holidayLog.employee.classId})
    </insert>

    <select id="selectByClassId" resultType="HolidayLog">
        select * from holiday_log where classId=#{classId}
    </select>

<!--    <select id="selectByClassId" parameterType="LogInOut" resultType="java.util.List">-->
<!--        select * from inout_log where classId=#{classId}-->
<!--    </select>-->

<!--    <select id="selectAll" parameterType="LogInOut" resultType="java.util.List">-->
<!--        select * from inout_log-->
<!--    </select>-->

<!--    <insert id="insertEmp">-->
<!--        INSERT INTO employee(username,email,gender,d_id) VALUES (#{lastName},#{email},#{gender},#{dId})-->
<!--    </insert>-->
</mapper>